.root {
  @apply flex items-center justify-center transition duration-150 ease-out rounded-md outline-none aspect-square focus:outline-none;
}

/********** SIZE **********/

.root[data-size='small'] {
  @apply w-6 h-6;
}

.root[data-size='medium'] {
  @apply w-10 h-10;
}

.root[data-size='small'] svg {
  @apply w-5 h-5;
}

.root[data-size='medium'] svg {
  @apply w-6 h-6;
}

/********** VARIANT: PRIMARY **********/

.root[data-variant='primary'][data-type='solid'] {
  @apply bg-awten-600;
}

.root[data-variant='primary'][data-type='soft'] {
  @apply bg-awten-100;
}

.root[data-variant='primary'][data-type='surface'] {
  @apply border border-awten-200 bg-awten-50;
}

.root[data-variant='primary'][data-type='outline'] {
  @apply bg-transparent border border-awten-600;
}

/********** VARIANT: GRAY **********/

.root[data-variant='gray'][data-type='solid'] {
  @apply bg-canvas-solid;
}

.root[data-variant='gray'][data-type='soft'] {
  @apply bg-canvas-bg-hover;
}

.root[data-variant='gray'][data-type='surface'] {
  @apply border border-canvas-border bg-canvas-bg-subtle;
}

.root[data-variant='gray'][data-type='outline'] {
  @apply bg-transparent border border-canvas-border;
}

/********** VARIANT: PRIMARY, HOVER **********/

.root[data-variant='primary'][data-type='solid']:hover {
  @apply bg-awten-700;
}

.root[data-variant='primary'][data-type='soft']:hover {
  @apply bg-awten-200;
}

.root[data-variant='primary'][data-type='surface']:hover {
  @apply border-awten-700;
}

.root[data-variant='primary'][data-type='outline']:hover {
  @apply border-awten-600 bg-awten-50;
}

.root[data-variant='primary'][data-type='ghost']:hover {
  @apply bg-awten-100;
}

/********** VARIANT: GRAY, HOVER **********/

.root[data-variant='gray'][data-type='solid']:hover {
  @apply bg-canvas-solid-hover;
}

.root[data-variant='gray'][data-type='soft']:hover {
  @apply bg-canvas-bg-active;
}

.root[data-variant='gray'][data-type='surface']:hover {
  @apply border-canvas-border-hover;
}

.root[data-variant='gray'][data-type='outline']:hover {
  @apply border-canvas-border bg-canvas-bg;
}

.root[data-variant='gray'][data-type='ghost']:hover {
  @apply bg-canvas-bg-hover;
}

/********** PRIMARY DISABLED **********/

.root[data-variant='primary'][data-type='solid']:disabled,
.root[data-variant='primary'][data-type='soft']:disabled {
  @apply bg-canvas-bg;
}

.root[data-variant='primary'][data-type='surface']:disabled {
  @apply border-canvas-line bg-canvas-bg-subtle;
}

.root[data-variant='primary'][data-type='outline']:disabled {
  @apply bg-transparent border-canvas-line;
}

/********** COMMON **********/

.root[data-variant='primary'][data-type='ghost'],
.root[data-variant='gray'][data-type='ghost'],
.root[data-variant='primary'][data-type='ghost']:disabled {
  @apply bg-transparent;
}

.root[data-variant='primary']:hover,
.root[data-variant='gray']:hover {
  @apply cursor-pointer;
}

.root[data-variant='primary']:disabled {
  @apply cursor-default;
}
